@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.nav-cart-icon {
  background-position: -10px -340px;
  width: 38px;
  height: 26px;
}

.star {
  color: #ff851b;
  cursor: pointer;
}

.banner_gradient {
  background-image: -moz-linear-gradient(
    90deg,
    rgba(233, 224, 186, 0.863) 0%,
    rgba(255, 255, 255, 0.685) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(233, 224, 186, 0.863) 0%,
    rgba(255, 255, 255, 0.685) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgba(233, 224, 186, 0.863) 0%,
    rgba(255, 255, 255, 0.685) 100%
  );
}
